*   {    
    color: white;
    font-family: 'K2D', sans-serif;
}

html{
    box-sizing: border-box;
    background-color: black;
    margin: 20px 60px 0 60px;
}

/*Title*/ 

h1{
    font-family: 'K2D', sans-serif;
    text-align: center;
    font-size:20px;
    font-weight:bold;
    height: 30px;
}

/*Score Board*/
.board_template{
    min-width: 240px;
    height: auto;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #FFFDFD;
}
.score_board {  
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". score_title ."
      "user_score round_alert ai_score"
      "score_p . score_c"; 
  }

  .centered_text{
  justify-self: center;
  align-self: center;
}

  .score_title {
    grid-area: score_title;
    font-size: 16px;
    line-height: 21px;
    font-weight: 800;
  }
  
  .round_alert{
    grid-area: round_alert;
    justify-self: center;
    align-self: end;
    margin-bottom: 0;
  }

  .user_score {
    grid-area: user_score;
  }
  
  .ai_score {
    grid-area: ai_score;
  }
  
  .score_p {
    grid-area: score_p;
  }
  
  .score_c {
    grid-area: score_c;
  }
  
  .score_value{
    margin-top: 0;
  }

  /*buttons menu*/
  .buttons_menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: .8fr 1.2fr ; 
    gap: 5px 6px; 
    grid-template-areas: 
      ". selection ."
      "button1 button2 button3"; 
      padding-bottom: 1.5em;
  }

  .selection{
    grid-area: selection;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
  }

  .button1{
    grid-area: button1;
  }

  .button2{
    grid-area: button2;
  }


  .button3{
    grid-area: button3;
  }

  .play_button{
    background: rgb(41, 40, 40);
    border: 1px solid rgb(255, 255, 135);
    border-radius: 5px;
    text-align: center;
    color: white;
    min-width: 60px;
    height: 60px;
  }

  .play_button p{
    margin: 0;
  }

  /*Final Message*/
.final_result{
    text-align: center;   
}

.final_result p{
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 10px;
}

.final_result button{
    background: rgb(41, 40, 40);
    border: 1px solid rgb(255, 255, 135);
    border-radius: 5px;
    padding: .5em;
}


  